<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0" metadata-complete="true">

	<!-- Configuración para el servlet adminmenu -->
    <servlet>
        <servlet-name>AdminMenuController</servlet-name>
        <servlet-class>es.uco.pw.servlets.admin.AdminMenuController</servlet-class> <!-- Clase que maneja la lógica de login -->
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminMenuController</servlet-name>
        <url-pattern>/adminmenu</url-pattern> <!-- URL a la que se accede para ejecutar el servlet -->
    </servlet-mapping>
    
    <!-- Configuración para el servlet usermenu -->
    <servlet>
        <servlet-name>UserMenuController</servlet-name>
        <servlet-class>es.uco.pw.servlets.user.UserMenuController</servlet-class> <!-- Clase que maneja la lógica de login -->
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UserMenuController</servlet-name>
        <url-pattern>/usermenu</url-pattern> <!-- URL a la que se accede para ejecutar el servlet -->
    </servlet-mapping>


    <!-- Configuración para el servlet LoginController -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>es.uco.pw.servlets.common.LoginController</servlet-class> <!-- Clase que maneja la lógica de login -->
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern> <!-- URL a la que se accede para ejecutar el servlet -->
    </servlet-mapping>

    <!-- Configuración para el servlet RegisterController -->
	<servlet>
	    <servlet-name>RegisterController</servlet-name>
	    <servlet-class>es.uco.pw.servlets.common.RegisterController</servlet-class> <!-- Clase que maneja la lógica de registro -->
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>RegisterController</servlet-name>
	    <url-pattern>/register</url-pattern> <!-- URL correcta para acceder al servlet -->
	</servlet-mapping>
	
	<!-- Configuración para el servlet LoginController -->
	    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>es.uco.pw.servlets.common.LogoutController</servlet-class> <!-- Clase que maneja la lógica de login -->
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern> <!-- URL a la que se accede para ejecutar el servlet -->
    </servlet-mapping>

	<!-- Configuración del servlet para modificarUsuario -->
    <servlet>
        <servlet-name>modificarUsuarioController</servlet-name>
        <servlet-class>es.uco.pw.servlets.common.modificarUsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modificarUsuarioController</servlet-name>
        <url-pattern>/modificarUsuario</url-pattern>
    </servlet-mapping>

	<!-- Configuración para el servlet realizarReservaController -->
	<servlet>
	    <servlet-name>realizarReservaController</servlet-name>
	    <servlet-class>es.uco.pw.servlets.user.realizarReservaController</servlet-class> <!-- Clase que maneja la lógica de la reserva -->
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>realizarReservaController</servlet-name>
	    <url-pattern>/usermenu/reservar</url-pattern> <!-- URL correcta para acceder al servlet -->
	</servlet-mapping>
	
	    <!-- Configuración para el servlet RegisterPistaController -->
    <servlet>
        <servlet-name>RegisterPistaController</servlet-name>
        <servlet-class>es.uco.pw.servlets.admin.RegisterPistaController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegisterPistaController</servlet-name>
        <url-pattern>/adminmenu/registerPista</url-pattern>
    </servlet-mapping>
    
    	<!-- Configuración para el servlet bonosController -->
    <servlet>
        <servlet-name>bonosController</servlet-name>
        <servlet-class>es.uco.pw.servlets.user.bonosController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>bonosController</servlet-name>
        <url-pattern>/usermenu/bonos</url-pattern>
    </servlet-mapping>
    
    <!-- Configuración para el servlet crearBonosController -->
	<servlet>
        <servlet-name>crearBonosController</servlet-name>
        <servlet-class>es.uco.pw.servlets.user.crearBonosController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>crearBonosController</servlet-name>
        <url-pattern>/usermenu/bonos/nuevobono</url-pattern>
    </servlet-mapping>
    
    <!-- Configuración para el servlet crearBonosExitoController -->
	<servlet>
        <servlet-name>CrearBonosExitoController</servlet-name>
        <servlet-class>es.uco.pw.servlets.user.CrearBonosExitoController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CrearBonosExitoController</servlet-name>
        <url-pattern>/usermenu/bonos/nuevobono/exito</url-pattern>
    </servlet-mapping>
    
    <!-- Configuración para el servlet crearBonosExitoController -->
	<servlet>
        <servlet-name>ReservaExitoController</servlet-name>
        <servlet-class>es.uco.pw.servlets.user.ReservaExitoController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ReservaExitoController</servlet-name>
        <url-pattern>/usermenu/reservar/exito</url-pattern>
    </servlet-mapping>
  
     <!-- Configuración del servlet para registrar material -->
	<servlet>
	    <servlet-name>RegisterMaterialController</servlet-name>
	    <servlet-class>es.uco.pw.servlets.admin.RegisterMaterialController</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RegisterMaterialController</servlet-name>
	    <url-pattern>/adminmenu/registerMaterial</url-pattern>
	</servlet-mapping>	
  
    <!-- Configuración para el servlet RealizarReservaBonoController -->
    <servlet>
        <servlet-name>RealizarReservaBonoController</servlet-name>
        <servlet-class>es.uco.pw.servlets.user.RealizarReservaBonoController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RealizarReservaBonoController</servlet-name>
        <url-pattern>/usermenu/bonos/reservar</url-pattern>
    </servlet-mapping>
    
    <!-- Configuración para el servlet ConsultarReservasController -->
    <servlet>
        <servlet-name>ConsultarReservasController</servlet-name>
        <servlet-class>es.uco.pw.servlets.user.ConsultarReservasController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ConsultarReservasController</servlet-name>
        <url-pattern>/usermenu/consultareservas</url-pattern>
    </servlet-mapping>
    
    <!-- Configuración para el servlet BuscarPistaController -->
    <servlet>
        <servlet-name>BuscarPistaController</servlet-name>
        <servlet-class>es.uco.pw.servlets.user.BuscarPistaController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>BuscarPistaController</servlet-name>
        <url-pattern>/usermenu/buscarpista</url-pattern>
    </servlet-mapping>
    
    <!-- Configuración del servlet ListarPistasController -->
    <servlet>
        <servlet-name>ListarPistasController</servlet-name>
        <servlet-class>es.uco.pw.servlets.common.ListarPistasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarPistasController</servlet-name>
        <url-pattern>/listarPistas</url-pattern>
    </servlet-mapping>
    
	<!-- Configuración para el servlet ListarUsuariosController -->
	<servlet>
	    <servlet-name>ListarUsuariosController</servlet-name>
	    <servlet-class>es.uco.pw.servlets.admin.ListarUsuariosController</servlet-class> <!-- Clase que maneja la lógica de listar usuarios -->
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>ListarUsuariosController</servlet-name>
	    <url-pattern>/listarUsuarios</url-pattern> 
	</servlet-mapping>
	
	<!-- Configuración para el servlet ListarMaterialesController -->
	<servlet>
	    <servlet-name>ListarMaterialesController</servlet-name>
	    <servlet-class>es.uco.pw.servlets.common.ListarMaterialesController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>ListarMaterialesController</servlet-name>
	    <url-pattern>/listarMateriales</url-pattern>
	</servlet-mapping>
	
	<!-- Configuración para el servlet MenuGestionController -->
	<servlet>
	    <servlet-name>MenuGestionController</servlet-name>
	    <servlet-class>es.uco.pw.servlets.user.MenuGestionController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>MenuGestionController</servlet-name>
	    <url-pattern>/usermenu/gestionreservas</url-pattern>
	</servlet-mapping>
	
	<!-- Configuración para el servlet ModificarReservaController -->
	<servlet>
	    <servlet-name>ModificarReservaController</servlet-name>
	    <servlet-class>es.uco.pw.servlets.user.ModificarReservaController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>ModificarReservaController</servlet-name>
	    <url-pattern>/usermenu/gestionreservas/modificar</url-pattern>
	</servlet-mapping>

  <!-- Configuración para el servlet AsociarMaterialAPistaController -->
    <servlet>
        <servlet-name>AsociarMaterialAPistaController</servlet-name>
        <servlet-class>es.uco.pw.servlets.admin.AsociarMaterialAPistaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsociarMaterialAPistaController</servlet-name>
        <url-pattern>/adminmenu/asociarMaterialAPista</url-pattern>
    </servlet-mapping>

</web-app>
