<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0" metadata-complete="true">

<!-- Configuración de Servlets -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <jsp-file>/MVC/Controllers/Common/LoginController.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/MVC/Controllers/Common/LoginController.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <jsp-file>/MVC/Controllers/Common/RegisterController.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/MVC/Controllers/Common/RegisterController.jsp</url-pattern>
    </servlet-mapping>

    <!-- Configuración de seguridad, filtros, etc. -->
    
</web-app>
